# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Editor settings
.vscode/

# Environment variables
feelline/config/.env

# Logs and outputs
logs
feelline/logs/
*.log

# macOS
.DS_Store
